

 @font-face {
  font-family: 'Freight';
  src: url('fonts/freightbigprolightitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
 @font-face {
  font-family: 'FreightBook';
  src: url('fonts/freightbigprobookitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

 @font-face {
  font-family: 'AlteHaas';
  src: url('/fonts/AlteHaasGroteskBold.woff2') format('woff2');  
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}
